body{
    background-color: rgb(75, 255, 99);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} 
main{
    text-align: center;
    max-width: 90%;
}
button{
    background-color: cornsilk;
     color: chartreuse;
     padding: 20px;
}
.passo{
  display: none;
}
.passo.ativo{
  display: block;
}